
<main class="container">
    <div class="produtos-list">
        <% if(products.length > 0) {%>
            <% for(let product of products){ %>
                <%if(product.active){%>
                    <a href="/product/details/<%= product._id%>" class="prod-item-a produto-item">
                        <div class="img-produto">
                            <img
                                src="<%=viewHelper.showImage(product.img_url)%>"
                                alt=""
                            />
                        </div>
                        <h2><%=product.name%></h2>
                        <div class="row col-12 price-buy mb-2">
                            <span class="col-2">Por </span>
                            <span class="preco col-10 mb-0">R$ <%=product.price%></span> 
                        </div>
                        <p class="descricao">
                            <%=product.description%>
                        </p>
                    </a>
                <%}%>
            <%}%>
        <%}%>    
    </div>
</main>