<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Marketplace - Profile Info</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> 
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet"
    />
    <link rel='stylesheet'  href='/css/includes/header.css'>
    <link rel='stylesheet'  href='/css/user.css'>

</head>
<body>
    <%- include('../../views/partials/header') %>
    <main class="container container-user">
        <div>
            <div class="itens-order">
                <% if(orders.length > 0) {
                    for( let order of orders){ %>
                        <div class="row order">
                            <div class="col-12 order-info">
                                <div class="col-3">
                                    <p>PEDIDO REALIZADO</p>
                                    <span><%=order.createdAt.substr(0,10)%></span>
                                </div>
                                <div class="col-2">
                                    <p>STATUS</p>
                                    <span><%=order.status%></span>
                                </div>
                                <div class="col-3">
                                    <p>PEDIDO Nº</p>
                                    <span><%=order._id%></span>
                                </div>

                                <div class="col-1 align-self-center text-center">
                                    <button class="btn btn-primary" type="button" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#order-info-<%=order._id.substr(19)%>" aria-expanded="false" 
                                        aria-controls="order-info-<%=order._id.substr(19)%>">
                                        <i class="fas fa-angle-down"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 order-info-product collapse" id="order-info-<%=order._id.substr(19)%>">
                               <% for(detail of order.details) {%>
                                    <div class="row col-12 order-products">
                                        <div class="col-5 order-infos">
                                            <div class="order-info-product-img">
                                                <img src="<%=detail.product.img_url%>" alt="">
                                            </div>
                                            <div class="prod-partner-info ms-3">
                                                <p><%=detail.product.name%></p>
                                                <p>Loja: <%=detail.partner.name%></p>
                                            </div>
                                        </div>
                                        <div class="col-3 order-owner">
                                            <div class="col-12">
                                                <p>Metódo de Pagamento</p>
                                                <% if(detail.charge.paymentType === "BOLETO") {%>
                                                    <p><%=detail.charge.paymentType%></p>
                                                    <a href="<%=detail.charge.url%>" target="_blank">Ver Boleto</a>
                                                <%}else{%>
                                                    <p>CARTÃO DE CRÉDITO</p>
                                                <%}%>
                                            </div>
                                            <div class="col-12">
                                                <p>Detalhes</p>
                                                <p class="col-12">Valor: <span>R$ <%= detail.product.price * detail.amount%></span></p>
                                                <p class="col-12">Frete: <span>R$ <%= detail.shippingValue%></span></p>
                                            </div>
                                        </div>
                                        <div class="col-4 order-owner">
                                            <p>Endereço de entrega</p>
                                            <p><%=order.customer.address.street%></p>
                                            <p><%=order.customer.address.city%>, <%=order.customer.address.state%> - <%=order.customer.address.postCode%></p>
                                            <p><%=order.customer.phone%></p>
                                        </div>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    <%}
                }%>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script type="module" src="/js/user.js"></script>
</body>
</html>