<main class="container container-user">
    <div class="box-user">
        <div class="row col-12 mb-3">
            <h2 class="col-9">Informações da conta
                <%if(!user.signUpCompleted){%>
                    <span class="ms-5 fs-6" style="color:#dc3545">É necessário completar o cadastro</span>
                <%}%>
            </h2>
            <button class="btn btn-warning col-3" id="btn-update-user">Atualizar dados</button>
        </div>
        <div class="user-data">
            <div class="box-data">
                <form class="row">
                    <div class="col-6 mb-2">
                        <label for="name" class="form-label">Nome</label>
                        <input class="form-control" type="text" name="name" id="name" value="<%=user.name%>" placeholder="Novo nome">
                    </div>
                    <div class="col-6 mb-2">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="text" name="email" id="email" value="<%=user.email%>" placeholder="Novo E-mail">
                    </div>
                    <div class="col-6">
                        <label for="phone" class="form-label">Telefone</label>
                        <input class="form-control" type="text" name="phone" id="phone" value="<%=user.phone%>" placeholder="Novo Telefone">
                    </div>
                    <div class="col-6">
                        <label for="document" class="form-label">CPF
                            <%if(!user.signUpCompleted){%>
                                <span class="fs-6" style="color:#dc3545">*</span>
                            <%}%>
                        </label>
                        <input class="form-control" type="text" name="document" id="document" value="<%=user.document%>" placeholder="CPF">
                    </div>

                    <div class="row mt-3">
                        <h5 >Endereço
                            <%if(!user.signUpCompleted){%>
                                <span class="fs-6" style="color:#dc3545">*</span>
                            <%}%>
                        </h5>
                        <div class="col-3 mb-2">
                            <label for="cep" class="form-label">CEP</label>
                            <input class="form-control" type="text" name="cep" id="cep" value="<%=user?.address?.postCode%>" placeholder="CEP">
                        </div>
                        <div class="col-9 mb-2">
                            <label for="street" class="form-label">Rua</label>
                            <input class="form-control" type="text" name="street" id="street" value="<%=user?.address?.street%>" placeholder="Rua">
                        </div>
                        <div class="col-4">
                            <label for="numberHouse" class="form-label">Numero</label>
                            <input class="form-control" type="text" name="numberHouse" id="numberHouse" value="<%=user?.address?.number%>" placeholder="Numero Residência">
                        </div>
                        <div class="col-6">
                            <label for="city" class="form-label">Cidade</label>
                            <input class="form-control" type="text" name="city" id="city" value="<%=user?.address?.city%>" placeholder="Cidade">
                        </div>
                        <div class="col-2">
                            <label for="state" class="form-label">UF</label>
                            <input class="form-control" type="text" name="state" id="state" value="<%=user?.address?.state%>" placeholder="UF">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row box-data">
                <div class="col-8">
                    <p style="margin: 10px 0">Cartões</p>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-secondary col-12" id="btn-profile-ver-cards">Ver</button>
                </div> 
            </div>
        </div>
    </div>
</main>
