<main class="container container-partner">
    <div class="box-partner">
        <h2>Informações Financeiras</h2>
        <div class="partner-financial">
            <div class="box-financial">
                <div>
                    <p>Valor de Vendas Concretizadas</p>
                    <span>R$<%=financial.totalSold%></span>
                </div>
            </div>
            <div class="box-financial">
                <div>
                    <p>Valor Previsto das Vendas</p>
                    <span>R$<%=financial.expectedSalesValues%></span>
                </div>
            </div>
            <div class="box-financial">
                <div>
                    <p>Balanço Conta Juno</p>
                    <span>R$<%=financial.juno.balance%></span>
                </div>
            </div>
            <div class="box-financial">
                <div>
                    <p>Pedidos Concluídos</p>
                    <span><%=financial.sales.concludedSales%></span>
                </div>
            </div>
            <div class="box-financial">
                <div>
                    <p>Pedidos em Andamento</p>
                    <span><%=financial.sales.expectedSales%></span>
                </div>
            </div>
            <div class="box-financial">
                <div>
                    <p>Pedidos Cancelados</p>
                    <span><%=financial.sales.canceledSales%></span>
                </div>
            </div>
        </div>
    </div>
</main>
