<main class="container container-partner">
    <div>
        <div class="itens-order">
            <% if(orders.length > 0) {
                for( let order of orders){ %>
                    <div class="order">
                        <div class="col-12 order-info">
                            <div class="col-2">
                                <p>VENDIDO EM</p>
                                <span><%=order.createdAt.substr(0,10)%></span>
                            </div>
                            <div class="col-2">
                                <p>STATUS</p>
                                <span><%=order.status%></span>
                            </div>
                            <div class="col-3">
                                <p>PEDIDO Nº</p>
                                <span><%=order._id%></span>
                            </div>

                            <div class="col-5 align-self-center text-end">
                                <button class="btn btn-primary" type="button" 
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#order-info-<%=order._id.substr(19)%>" aria-expanded="false" 
                                    aria-controls="order-info-<%=order._id.substr(19)%>">
                                    <i class="fas fa-angle-down"></i>
                                </button>
                            </div>
                        </div>
                        <div class="order-info-product collapse" id="order-info-<%=order._id.substr(19)%>" >
                            <% for(detail of order.details) {%>
                                <div class="col-12 d-flex product-info">
                                    <div class="product-sold col-4">
                                        <span>Produto vendido </span>
                                        <span><%=detail.product.name%></span>
                                        <div>
                                            <p></p>
                                            <div class="order-info-product-img">
                                                <img src="<%=viewHelper.showImage(detail.product.img_url)%>" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="customer-infos col-2">
                                        <p>Detalhes</p>
                                        <p class="col-12">Valor: <span>R$ <%= detail.product.price * detail.amount%></span></p>
                                        <p class="col-12">Frete: <span>R$ <%= detail.shippingValue%></span></p>
                                    </div>
                                    <div class="customer-infos col-3">
                                        <p>Informações do comprador </p>
                                        <p><%=order.customer.name%></p>
                                        <p><%=order.customer.email%></p>
                                        <p><%=order.customer.phone%></p>
                                    </div>
                                    <div class="customer-infos col-3">
                                        <p>Endereço de envio </p>
                                        <p><%=order.customer.address.street%>, <%=order.customer.address.number%></p>
                                        <p><%=order.customer.address.city%>, <%=order.customer.address.state%> - <%=order.customer.address.postCode%></p>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                    </div>
                <%}
            }%>
        </div>
    </div>
</main>