<main class="container container-partner">
    <div class="box-partner">
        <%if(partner.signUpCompleted && !partner.hasJunoAccount){%>
            <span class="ms-4 fs-6" style="color:#dc3545">É necessário ter uma conta Juno para vender na plataforma</span>
        <%}%>
        <div class="partner-data mb-4">
            <div class="box-data">
                <div class="row col-12 mb-3">
                    <h2 class="col-9">Dados Gerais
                        <%if(!partner.signUpCompleted){%>
                            <span class="ms-4 fs-6" style="color:#dc3545">É necessário completar o cadastro para vender na plataforma</span>
                        <%}%>
                    </h2>
                    <button class="btn btn-warning col-3" id="btn-update-partner">Alterar dados</button>
                </div>
                <form class="row">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <label for="name" class="form-label">Nome da Loja</label>
                            <input class="form-control" type="text" name="name" id="name" value="<%=partner.name%>" placeholder="Novo nome">
                        </div>
                        <div class="col-6 mb-2">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" type="text" name="email" id="email" value="<%=partner.email%>" placeholder="Novo E-mail">
                        </div>
                        <div class="col-3">
                            <label for="phone" class="form-label">Telefone</label>
                            <input class="form-control" type="text" name="phone" id="phone" value="<%=partner.phone%>" placeholder="Novo Telefone">
                        </div>
                        <div class="col-4">
                            <label for="document" class="form-label">CPF
                                <%if(!partner.signUpCompleted){%>
                                    <span class="fs-6" style="color:#dc3545">*</span>
                                <%}%>
                            </label>
                            <input class="form-control" type="text" name="document" id="document" value="<%=partner.document%>" placeholder="CPF">
                        </div>
                        <div class="col-5">
                            <label for="linesOfBusiness" class="form-label">Linha de Negócio
                                <%if(!partner.signUpCompleted){%>
                                    <span class="fs-6" style="color:#dc3545">*</span>
                                <%}%>
                            </label>
                            <input class="form-control" type="text" name="linesOfBusiness" id="linesOfBusiness" value="<%=partner.linesOfBusiness%>" placeholder="Linha de Negócio">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="partner-data mb-4">
            <div class="box-data">
                <div class="row col-12 mb-3">
                    <h2 class="col-9">Endereço</h2>
                    <button class="btn btn-warning col-3" id="btn-update-address">Alterar dados</button>
                </div>
                <form class="row">
                    <div class="row">
                        <div class="col-3 mb-2">
                            <label for="cep" class="form-label">CEP</label>
                            <input class="form-control" type="text" name="cep" id="cep" value="<%=partner?.address?.postCode%>" placeholder="CEP">
                        </div>
                        <div class="col-9 mb-2">
                            <label for="street" class="form-label">Rua</label>
                            <input class="form-control" type="text" name="street" id="street" value="<%=partner?.address?.street%>" placeholder="Rua">
                        </div>
                        <div class="col-4">
                            <label for="numberHouse" class="form-label">Numero</label>
                            <input class="form-control" type="text" name="numberHouse" id="numberHouse" value="<%=partner?.address?.number%>" placeholder="Numero Residência">
                        </div>
                        <div class="col-6">
                            <label for="city" class="form-label">Cidade</label>
                            <input class="form-control" type="text" name="city" id="city" value="<%=partner?.address?.city%>" placeholder="Cidade">
                        </div>
                        <div class="col-2">
                            <label for="state" class="form-label">UF</label>
                            <input class="form-control" type="text" name="state" id="state" value="<%=partner?.address?.state%>" placeholder="UF">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="partner-data mb-4">
            <div class="box-data">
                <div class="row col-12 mb-3">
                    <h2 class="col-9">Dados Bancários
                        <%if(!partner.signUpCompleted){%>
                            <span class=" fs-6" style="color:#dc3545">É necessário completar o cadastro para vender na plataforma</span>
                        <%}%>
                    </h2>
                    <button class="btn btn-warning col-3" id="btn-update-bank">Alterar dados</button>
                </div>
                <form class="row">
                    <div class="row">
                        <div class="col-4 mb-2">
                            <label for="bankNumber" class="form-label">Banco
                                <%if(!partner.signUpCompleted){%>
                                    <span class="fs-6" style="color:#dc3545">*</span>
                                <%}%>
                            </label>
                            <select class="form-select" name="bankNumber" id="bankNumber">
                                <%if(bankAndBusiness !== undefined){%>
                                    <% for( let bank of bankAndBusiness.banks ) {
                                        if(bank.number === partner?.bankAccount?.bankNumber){%>
                                            <option value='<%= bank.number %>' selected><%= bank.number %> - <%= bank.name %></option>
                                        <%}else{%>
                                            <option value='<%= bank.number %>'><%= bank.number %> - <%= bank.name %></option>
                                        <%}%>
                                    <%}%>
                                <%}%>   
                            </select>
                        </div>
                        <div class="col-4 mb-2">
                            <label for="agencyBank" class="form-label">Agência
                                <%if(!partner.signUpCompleted){%>
                                    <span class="fs-6" style="color:#dc3545">*</span>
                                <%}%>
                            </label>
                            <input class="form-control" type="text" name="cep" id="agencyBank" value="<%=partner?.bankAccount?.agencyNumber%>" placeholder="Agência">
                        </div>
                        <div class="col-4 mb-2">
                            <label for="accountBank" class="form-label">Conta
                                <%if(!partner.signUpCompleted){%>
                                    <span class="fs-6" style="color:#dc3545">*</span>
                                <%}%>
                            </label>
                            <input class="form-control" type="text" name="cep" id="accountBank" value="<%=partner?.bankAccount?.accountNumber%>" placeholder="Conta">
                        </div>
                        <div class="col-4">
                            <label for="ownerBank" class="form-label">Titular
                                <%if(!partner.signUpCompleted){%>
                                    <span class="fs-6" style="color:#dc3545">*</span>
                                <%}%>
                            </label>
                            <input class="form-control" type="text" name="cep" id="ownerBank" value="<%=partner?.bankAccount?.accountHolder?.name%>" placeholder="Titular">
                        </div>
                        <div class="col-4">
                            <label for="cpfOwner" class="form-label">CPF Titular
                                <%if(!partner.signUpCompleted){%>
                                    <span class="fs-6" style="color:#dc3545">*</span>
                                <%}%>
                            </label>
                            <input class="form-control" type="text" name="cep" id="cpfOwner" value="<%=partner?.bankAccount?.accountHolder?.document%>" placeholder="CPF Titular">
                        </div>
                        <div class="col-4">
                            <label for="accountType" class="form-label">Tipo da Conta
                                <%if(!partner.signUpCompleted){%>
                                    <span class="fs-6" style="color:#dc3545">*</span>
                                <%}%>
                            </label>
                            <input class="form-control" type="text" name="cep" id="accountType" value="<%=partner?.bankAccount?.accountType%>" placeholder="Tipo da Conta" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <h2>Conta Juno</h2>
        <div class="partner-data partner-document">
            <div class="row box-data juno-account">
                <div class="col-8">
                    <p>Conta Juno:</p>
                    <%if(partner.hasJunoAccount){%>
                        <div class="col-12 mb-2">
                            <span>Tipo da conta: <%=partner.junoAccount.type%></span>
                            <span class="ms-4">Tipo de pessoa: <%=partner.junoAccount.personType%></span>
                            <span class="ms-4"> Status: <%=partner.junoAccount.status%></span>
                        </div>
                        <div class="col-12">
                            <span>Número da conta: <%=partner.junoAccount.accountNumber%></span>
                            <span class="ms-4">Criada em: <%=partner.junoAccount.createdAt.substr(0,10)%></span>
                        </div>
                    <%}else{%>
                        <span class="ms-5 fs-6" style="color:#dc3545">Complete o cadastro para obter uma conta Juno</span>
                    <%}%>  
                </div>
                <div class="col-4 align-self-center">
                    <%if(!partner.hasJunoAccount && partner.signUpCompleted){%>
                        <button class="btn btn-outline-secondary col-12" data-bs-toggle="collapse" data-bs-target="#collapseJuno" aria-expanded="false" aria-controls="collapseJuno">Editar</button>
                    <%}else{%> 
                        <button class="btn btn-outline-secondary col-12" disabled>Editar</button>
                    <%}%>  
                </div>
                <div class="collapse" id="collapseJuno">
                    <form class="row col">
                        <div class="col-6 mt-3">
                            <select class="form-select" name="businessArea" id="businessArea">
                                <%if(bankAndBusiness !== undefined){%>
                                    <% for( let area of bankAndBusiness.businessAreas ) {%>
                                        <option value='<%= area.code %>'><%= area.activity %> - <%= area.category %></option>
                                    <%}%>
                                <%}%>   
                            </select>
                        </div>
                        <div class="col-4">
                            <input class="form-control mt-3" type="number" name="rendaMensal" id="rendaMensal" placeholder="Renda Mensal">
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <label lass="form-label" for="dtnasc">Data de Nasc.</label>
                                <input class="form-control" type="date" name="dtnasc" id="dtnasc" placeholder="Data de Nasc">
                            </div>
                            <div class="col-4 col-4 align-self-end">
                                <input class="form-control mt-3" type="text" name="motherName" id="motherName" placeholder="Nome da Mãe">
                            </div>
                            <div class="col-4 align-self-end">
                                <button class="btn btn-primary" id="btn-send-juno">Cadastrar conta</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%if(partner.hasJunoAccount){%>
            <h2>Documentos</h2>
            <div class="partner-data partner-document">
                <% for(let document of documents ){%>
                    <div class="col-12 box-data">
                        <div class="row">
                            <div class="col-8">
                                <p>Documento:</p>
                                <span><%=document.description%></span>
                                <p>Status de Aprovação: <%=document.approvalStatus%></p>
                            </div>
                            <div class="col-4 align-self-center">
                                <button class="btn btn-outline-secondary col-12">Enviar</button>
                            </div>
                        </div>
                    </div>
                <%}%>
            </div>
        <%}%>
    </div>
</main>